.env*
.gitignore
.dockerignore
.eslint*
.prettierignore
Dockerfile
jest.config.*
migrations.sql
README.md
schema.grapql
seed.sh
test.sh
docker-compose.yaml

dist/
node_modules/
prisma/migrations/
prisma/dev.db
prisma/seed.ts

src/__tests__
src/schemas/generated
src/schema.grapql
