<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <style>
            h1 {
                text-align: center;
            }
            .underline {
                text-decoration: underline;
            }
            .right {
                text-align: right;
            }
            .container {
                margin: -80px auto auto auto;
            }
        </style>
    </head>

    <div class="container">
        <h1> SEASONAL RENTING CONTRACT </h1>

        <table style="width:100%">
            <tr>
                <td> Last name: {{ rental.landlord_last_name }} </td>
                <td class="right"> First name: {{ rental.landlord_first_name }} </td>
            </tr>
        </table>

        <p> Address: {{ rental.landlord_address }} </p>
        <p> Email: {{ rental.landlord_email }} </p>
        <p> Phone number: {{ rental.landlord_phone_number }} </p>

        <p class="underline"> Identified as the lessor on one hand </p>

        <table style="width:100%">
            <tr>
                <td> Last name: {{ booking.customer.last_name }} </td>
                <td class="right"> First name: {{ booking.customer.first_name }} </td>
            </tr>
            <tr>
                <td> Phone number {{ booking.customer.phone_number }} </td>
                <td class="right"> Email: {{ booking.customer.email }} </td>
            </tr>
            <tr>
                <td> Address: {{ booking.customer.address }} </td>
            </tr>
        </table>

        <p class="underline"> Named the lessee on the other hand </p>

        <p>
            It has been agreed to a seasonal rental for the period
            <ul>
                <li> from : {{ booking.start_at }} </li>
                <li> from : {{ booking.get_end_at_customer_repr() }} </li>
            </ul>
        </p>

        <p> Renting house address: {{ rental.rental_address }} </p>

        <p>
            Total rent price (charges included): {{ booking.total_price }} euros:
            <ul>
                <li>booking: {{ booking.booking_price }} euros</li>
                {% if tourist_tax != 0 %}
                <li>tourist tax: {{ tourist_tax }} euros</li>
                {% endif %}
                {% if booking.cleaning_price != 0 %}
                <li>cleaning: {{ booking.cleaning_price }} euros</li>
                {% endif %}
            </ul>
        </p>

        <p>
            The deposit is {{ rental.deposit_percentage }}% of the booking so {{ deposit }} euros
            <br />
            The following balances must be paid on the day when you get the keys, i.e. {{ booking.start_at }}:
            <ul>
                <li>remaining booking (after deposit): {{ (booking.booking_price - deposit) }} euros</li>
                {% if booking.cleaning_price != 0 %}
                <li>cleaning: {{ booking.cleaning_price }} euros</li>
                {% endif %}
                {% if tourist_tax != 0 %}
                <li>tourist tax: {{ tourist_tax }} euros</li>
                {% endif %}
            </ul>
            That is a total of {{ (booking.booking_price - deposit) + booking.cleaning_price + tourist_tax }} euros which does not include the security deposit which is {{ rental.security_deposit }} euros
        </p>

        <p> Arrival time is normally scheduled for {{ locale[rental.checkin_weekday.name.lower()] }} at {{ rental.checkin_time.strftime("%H:%M") }}. </p>

        <p> The departure time is normally scheduled for {{ locale[rental.checkout_weekday.name.lower()] }} at {{ rental.checkout_time.strftime("%H:%M") }}. </p>

        <p> Made in two copies at {{ rental.rental_address }} the {{ today }} </p>

        <table style="width:100%">
            <tr>
                <td> The lessor </td>
                <td class="right"> The tenant </td>
            </tr>
            <tr>
                <td> {{ rental.landlord_last_name }} {{ rental.landlord_first_name }} </td>
                <td class="right"> read and approved </td>
            </tr>
        </table>
    </div>
</html>
