<!DOCTYPE>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <style>
            h1 {
                text-align: center;
            }
            .underline {
                text-decoration: underline;
            }
            .right {
                text-align: right;
            }
            .container {
                margin: -80px auto auto auto;
            }
        </style>
    </head>

    <div class="container">
        <h1> CONTRAT DE LOCATION SAISONNIERE </h1>

        <table style="width:100%">
            <tr>
                <td> Nom: {{ rental.landlord_last_name }} </td>
                <td class="right"> Prénom: {{ rental.landlord_first_name }} </td>
            </tr>
        </table>

        <p> Adresse: {{ rental.landlord_address }} </p>
        <p> Email: {{ rental.landlord_email }} </p>
        <p> Numéro de téléphone: {{ rental.landlord_phone_number }} </p>

        <p class="underline"> Dénommé le bailleur d'une part </p>

        <table style="width:100%">
            <tr>
                <td> Nom: {{ booking.customer.last_name }} </td>
                <td class="right"> Prénom: {{ booking.customer.first_name }} </td>
            </tr>
            <tr>
                <td> Numéro de téléphone {{ booking.customer.phone_number }} </td>
                <td class="right"> Email: {{ booking.customer.email }} </td>
            </tr>
            <tr>
                <td> Adresse: {{ booking.customer.address }} </td>
            </tr>
        </table>

        <p class="underline"> Dénommé le preneur d'autre part </p>

        <p>
            Il a été convenu d'une location saisonnière pour la période
            <ul>
                <li> du : {{ booking.start_at }} </li>
                <li> au : {{ booking.get_end_at_customer_repr() }} </li>
            </ul>
        </p>

        <p> Adresse de location: {{ rental.rental_address }} </p>

        <p>
            Montant total du loyer (charges comprises): {{ booking.total_price }} euros:
            <ul>
                <li>réservation: {{ booking.booking_price }} euros</li>
                {% if tourist != 0 %}
                <li>taxe de séjour: {{ tourist_tax }} euros</li>
                {% endif %}
                {% if booking.cleaning_price != 0 %}
                <li>ménage: {{ booking.cleaning_price }} euros</li>
                {% endif %}
            </ul>
        </p>

        <p>
            Les arrhes sont de {{ rental.deposit_percentage }}% à la réservation soit {{ deposit }} euros
            <br />
            Les transactions suivantes doivent être versés le jour de la remise des clés, i.e. {{ booking.start_at }}
            <ul>
                <li>restant de la réservation (après paiement des arrhes): {{ (booking.booking_price - deposit) }} euros</li>
                {% if booking.cleaning_price !=0 %}
                <li>ménage: {{ booking.cleaning_price }} euros</li>
                {% endif %}
                {% if tourist_tax %}
                <li>taxe de séjour: {{ tourist_tax }} euros</li>
                {% endif %}
            </ul>
            Soit un total de {{ (booking.booking_price - deposit) + booking.cleaning_price + tourist_tax }} euros qui n'inclut pas la caution qui est de {{ rental.security_deposit }} euros
        </p>

        <p>L'heure d'arrivée est normalement prévue le  {{ locale[rental.checkin_weekday.name.lower()] }} après-midi à {{ rental.checkin_time.strftime("%H:%M") }}. </p>

        <p> L'heure de départ est normalement prévu le {{ locale[rental.checkout_weekday.name.lower()] }} à {{ rental.checkout_time.strftime("%H:%M") }}. </p>

        <p> Fait en deux exemplaires à {{ rental.rental_address }} le {{ today }} </p>

        <table style="width:100%">
            <tr>
                <td> Le bailleur </td>
                <td class="right"> Le locataire </td>
            </tr>
            <tr>
                <td> {{ rental.landlord_last_name }} {{ rental.landlord_first_name }} </td>
                <td class="right"> lu et approuvé </td>
            </tr>
        </table>
    </div>
</html>
